:root {
    --basic-bg-color: white;
}

body {
    background-color: #E6E7EA;
    font-family: Arial, Helvetica, sans-serif;
}


/* Main Page Header Container */

#contentContainer {
    margin-bottom: 100px;
}

#mainHeaderContainer {
    width: 850px;
    height: 300px;
    margin: 0 auto;
    margin-top: 1%;
    color: white;
    position: relative;
    background-color: #4B5A9E
}

#headerContainer {
    position: relative;
}


/* Top Header Page Stylings */

#headingAndWebsite {
    position: absolute;
    bottom: 0;
    left: 22%;
}

h1 {
    font-size: 23px;
    font-weight: bold;
}

.socialButton {
    border-radius: 2px;
    height: 30px;
    font-size: 12.5px;
    padding-left: 12px;
    padding-right: 12px;
}

#socialButtonHolder {
    position: absolute;
    bottom: 15px;
    right: 18px;
}

#followButton {
    color: #CECFD4;
}

.btn-group {
    margin-left: 8px;
}


/* Bottom header Page Stylings */

#bottomHeaderContainer {
    width: 850px;
    margin: 0 auto;
    background-color: var(--basic-bg-color);
    height: 45px;
    position: relative;
}

.bottomHeaderLinks {
    position: relative;
    top: 13px;
}

#linkHolder {
    position: relative;
    left: 22%;
}

#timelineLink {
    position: relative;
    top: 12px;
    font-weight: bold;
    margin-right: 9px;
    border-bottom: 3px solid #4B5A9E;
    padding-bottom: 10px;
}

#aboutButton,
#welcomeButton,
#fwbButton {
    border-right: 1px solid #CECFD4;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#moreButton {
    padding-left: 10px;
}


/* Blank image Holder */

#blankPictureHolder {
    height: 175px;
    width: 160px;
    background-color: #4B5A9E;
    border: 1px solid black;
    position: absolute;
    left: 13px;
    bottom: -33px;
    z-index: 2;
}


/* columns holder */

#columnsContainer {
    width: 850px;
    margin: 0 auto;
    margin-top: 1%;
    position: relative;
}


/*Left Box*/

#leftbox {
    background-color: var(--basic-bg-color);
    width: 327px;
    border: 1px solid #DDDEE2;
    position: absolute;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}

#loremParaOne {
    margin-left: 10px;
    color: #6774A9;
}

#topHR {
    margin-top: 9%;
}

#bottomHR {
    margin-bottom: 0;
}

#yourSiteHolder {
    height: 50px;
    display: flex;
    align-items: center;
}

#globeTrotter {
    color: #6774A9;
    margin-right: 4%;
    margin-left: 4%;
}

#yourSiteText {
    font-size: 20px;
    font-weight: bold;
    color: #6774A9
}


/*Right Box */

#rightbox {
    background-color: var(--basic-bg-color);
    width: 511px;
    border: 1px solid #DDDEE2;
    position: absolute;
    right: 0;
}

#rightBoxContent {
    position: relative;
}

#boxTop {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 3%;
    margin-top: 1%;
}

#pageNamePara {
    margin-bottom: 0;
}

#topText {
    color: #A5A5A5;
    font-size: 14px;
    margin-top: 3%;
    margin-left: 2%;
}

#pageNameSpan {
    color: #4B5A9E;
    font-weight: bold;
}

#blueBox {
    height: 45px;
    width: 45px;
    background-color: #4B5A9E;
}

#boxMiddleContent {
    background-color: var(--basic-bg-color);
    height: 300px;
    margin-top: 2%;
}

#biggerBlueBox {
    width: 98%;
    height: 100%;
    background-color: #4B5A9E;
    margin: 0 auto;
}

#boxBottomContent {
    background-color: #F5F6F7;
    height: 40px;
}

#boxBottomContent hr {
    margin-top: 10px;
}

#socialStuffLinks {
    padding: 0;
    margin-left: 4%;
    display: flex;
    margin-top: -9px;
    color: #9498A5;
}

#leftLink {
    list-style-type: none;
    padding: 0;
}

.socialLink {
    margin-right: 5%;
    color: #56649F;
}